<a href="https://colab.research.google.com/github/HausReport/MightyLogic/blob/master/GMHeroes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
teams = [ 
   ['Eostre', 'Grace', 'Ghosta', 'Alexandria', 'Charon', 'Sheer-Shah', 'Scrap',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Charon', 'Scrap', 'Sheer-Shah', 'Mi', 'Freddy',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Charon', 'Scrap', 'Aphrodite', 'Mi', 'Grace',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Grace', 'Scrap', 'Sheer-Shah', 'Mi', 'Freddy',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Fury', 'Scrap', 'Sheer-Shah', 'Mi', 'Freddy',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Grace', 'Scrap', 'Sheer-Shah', 'Charon', 'Freddy',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Grace', 'Scrap', 'Villano', 'Charon', 'Freddy',  'Eostre'],
   ['Yorik', 'Alexandria', 'Grace', 'Mi', 'Sheer-Shah', 'Mr. Flap', 'Freddy',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Grace', 'Mi', 'Sheer-Shah', 'Scrap', 'Yuri',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Vixen', 'Aphrodite', 'Charon', 'Scrap', 'Freddy',  'Dead Lord'],
   ['Yorik', 'Alexandria', 'Discordia', 'Villano', 'Sheer-Shah', 'Scrap', 'Freddy',  'Dead Lord'],
   ['Yuri', 'Alexandria', 'Justia', 'Frost', 'Eostre', 'Angelia', 'Legion',  'Tinker'],
   ['Yorik', 'Alexandria', 'Aphrodite', 'Grace', 'Mi', 'Sheer-Shah', 'Scrap',  'Dead Lord'], #13

   ['Charon', 'Mosura', 'Gremory', 'Grace', 'Eostre', 'Sheer-Shah', 'Scrap',  'Villano'], #14
   ['Charon', 'Freddy', 'Grace', 'Eostre', 'Sheer-Shah', 'Scrap',  'Mi', 'Dead Lord'], #15
   ['Charon', 'Draggara', 'Yorik', 'Mosura', 'Fury', 'Scrap',  'Mi', 'Dead Lord'], #16
   ['Eostre', 'Aphrodite', 'Yorik', 'Grace', 'Vixen', 'Freddy',  'Mi', 'Dead Lord'], #17

   ['Eostre', 'Mosura', 'Sheer-Shah', 'Grace', 'Discordia', 'Freddy',  'Mi', 'Charon'], #18
   ['Yorik', 'Scrap', 'Sheer-Shah', 'Grace', 'Alexandria', 'Freddy',  'Mi', 'Dead Lord'], #19
   ['Gremory', 'Strik', 'Charon', 'Grace', 'Vixen', 'Villano',  'Tinker', 'Dead Lord'], #20

   ['Draggara', 'Mr. Flap', 'Grace', 'Mosura', 'Sheer-Shah', 'Yorik',  'Villano', 'Dead Lord'], #21
   ['Yuri', 'Eostre', 'Dominus', 'Eostre', 'Mosura', 'Scrap',  'Mi', 'Dead Lord'], #22

   ['Shao Lin', 'Mi', 'Grace', 'Eostre', 'Justia', 'Scrap',  'Mi', 'Dead Lord'], #23

   ['Charon', 'Angelia', 'Legion', 'Eostre', 'Blair', 'Grace',  'Mi', 'Alexandria'], #24
   ['Charon', 'Yorik', 'Grace', 'Alexandria', 'Mosura', 'Draggara',  'Mi', 'Dead Lord'], #25
]

In [2]:
from pandas.core.common import flatten
import numpy as np
t2 = list(flatten(teams))

In [3]:
t2

['Eostre',
 'Grace',
 'Ghosta',
 'Alexandria',
 'Charon',
 'Sheer-Shah',
 'Scrap',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Charon',
 'Scrap',
 'Sheer-Shah',
 'Mi',
 'Freddy',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Charon',
 'Scrap',
 'Aphrodite',
 'Mi',
 'Grace',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Grace',
 'Scrap',
 'Sheer-Shah',
 'Mi',
 'Freddy',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Fury',
 'Scrap',
 'Sheer-Shah',
 'Mi',
 'Freddy',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Grace',
 'Scrap',
 'Sheer-Shah',
 'Charon',
 'Freddy',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Grace',
 'Scrap',
 'Villano',
 'Charon',
 'Freddy',
 'Eostre',
 'Yorik',
 'Alexandria',
 'Grace',
 'Mi',
 'Sheer-Shah',
 'Mr. Flap',
 'Freddy',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Grace',
 'Mi',
 'Sheer-Shah',
 'Scrap',
 'Yuri',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Vixen',
 'Aphrodite',
 'Charon',
 'Scrap',
 'Freddy',
 'Dead Lord',
 'Yorik',
 'Alexandria',
 'Discordia',
 'Villano',
 'Sheer-Shah',
 'Scrap',
 'Freddy',
 'Dead Lord',
 'Yuri',
 'Alexandria',
 'Justia',
 'Frost',
 'Eostre',
 'Angelia',
 'Legion',
 'Tinker',
 'Yorik',
 'Alexandria',
 'Aphrodite',
 'Grace',
 'Mi',
 'Sheer-Shah',
 'Scrap',
 'Dead Lord',
 'Charon',
 'Mosura',
 'Gremory',
 'Grace',
 'Eostre',
 'Sheer-Shah',
 'Scrap',
 'Villano',
 'Charon',
 'Freddy',
 'Grace',
 'Eostre',
 'Sheer-Shah',
 'Scrap',
 'Mi',
 'Dead Lord',
 'Charon',
 'Draggara',
 'Yorik',
 'Mosura',
 'Fury',
 'Scrap',
 'Mi',
 'Dead Lord',
 'Eostre',
 'Aphrodite',
 'Yorik',
 'Grace',
 'Vixen',
 'Freddy',
 'Mi',
 'Dead Lord',
 'Eostre',
 'Mosura',
 'Sheer-Shah',
 'Grace',
 'Discordia',
 'Freddy',
 'Mi',
 'Charon',
 'Yorik',
 'Scrap',
 'Sheer-Shah',
 'Grace',
 'Alexandria',
 'Freddy',
 'Mi',
 'Dead Lord',
 'Gremory',
 'Strik',
 'Charon',
 'Grace',
 'Vixen',
 'Villano',
 'Tinker',
 'Dead Lord',
 'Draggara',
 'Mr. Flap',
 'Grace',
 'Mosura',
 'Sheer-Shah',
 'Yorik',
 'Villano',
 'Dead Lord',
 'Yuri',
 'Eostre',
 'Dominus',
 'Eostre',
 'Mosura',
 'Scrap',
 'Mi',
 'Dead Lord',
 'Shao Lin',
 'Mi',
 'Grace',
 'Eostre',
 'Justia',
 'Scrap',
 'Mi',
 'Dead Lord',
 'Charon',
 'Angelia',
 'Legion',
 'Eostre',
 'Blair',
 'Grace',
 'Mi',
 'Alexandria',
 'Charon',
 'Yorik',
 'Grace',
 'Alexandria',
 'Mosura',
 'Draggara',
 'Mi',
 'Dead Lord']

In [4]:

(unique, counts) = np.unique(t2, return_counts=True)
frequencies = np.asarray((unique, counts)).T
frequencies

array([['Alexandria', '16'],
       ['Angelia', '2'],
       ['Aphrodite', '4'],
       ['Blair', '1'],
       ['Charon', '13'],
       ['Dead Lord', '20'],
       ['Discordia', '2'],
       ['Dominus', '1'],
       ['Draggara', '3'],
       ['Eostre', '11'],
       ['Freddy', '12'],
       ['Frost', '1'],
       ['Fury', '2'],
       ['Ghosta', '1'],
       ['Grace', '18'],
       ['Gremory', '2'],
       ['Justia', '2'],
       ['Legion', '2'],
       ['Mi', '17'],
       ['Mosura', '6'],
       ['Mr. Flap', '2'],
       ['Scrap', '17'],
       ['Shao Lin', '1'],
       ['Sheer-Shah', '14'],
       ['Strik', '1'],
       ['Tinker', '2'],
       ['Villano', '5'],
       ['Vixen', '3'],
       ['Yorik', '16'],
       ['Yuri', '3']], dtype='<U21')

In [7]:
import pandas as pd
df = pd.DataFrame(frequencies,columns=["Name","Count"])
df["Count"] = pd.to_numeric(df["Count"])

df.sort_values("Count", ascending=False, inplace=True)
df

          Name  Count
5    Dead Lord     20
14       Grace     18
21       Scrap     17
18          Mi     17
0   Alexandria     16
28       Yorik     16
23  Sheer-Shah     14
4       Charon     13
10      Freddy     12
9       Eostre     11
19      Mosura      6
26     Villano      5
2    Aphrodite      4
27       Vixen      3
29        Yuri      3
8     Draggara      3
1      Angelia      2
16      Justia      2
17      Legion      2
12        Fury      2
20    Mr. Flap      2
25      Tinker      2
6    Discordia      2
15     Gremory      2
13      Ghosta      1
11       Frost      1
22    Shao Lin      1
24       Strik      1
7      Dominus      1
3        Blair      1

In [15]:
from IPython.display import display, HTML
display(HTML(df.to_html(index=False)))
print(df[['Name','Count']].to_string())

          Name  Count
5    Dead Lord     20
14       Grace     18
21       Scrap     17
18          Mi     17
0   Alexandria     16
28       Yorik     16
23  Sheer-Shah     14
4       Charon     13
10      Freddy     12
9       Eostre     11
19      Mosura      6
26     Villano      5
2    Aphrodite      4
27       Vixen      3
29        Yuri      3
8     Draggara      3
1      Angelia      2
16      Justia      2
17      Legion      2
12        Fury      2
20    Mr. Flap      2
25      Tinker      2
6    Discordia      2
15     Gremory      2
13      Ghosta      1
11       Frost      1
22    Shao Lin      1
24       Strik      1
7      Dominus      1
3        Blair      1