<a href="https://colab.research.google.com/github/HausReport/MightyLogic/blob/master/Notebooks/Powerfarming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
rare_hero_levels = pd.DataFrame([1,14,8,8,8,8,10,1,8, 8, 10, 8,8,8,8,8,8,4,10,8,1,1,10,11,10,12,10,10,10,8,8,8,10,10,
                    10,10,12,10,10,12,10,10,10,10,10,10,10,12,10,10,10,10,10,10,10,10,10,10,10,10,8,
                    10,10,10,10,10,10,3,1,12,11,6,10,13,10,10,10,10,10,8,10,10,10,11,11,12,10,10,10,6,11])

In [8]:
rare_chest_levels = pd.DataFrame([6,10,10,10,11,8,8,10,1,8,10])

In [9]:
rare_hero_levels.describe()

               0
count  91.000000
mean    9.142857
std     2.541091
min     1.000000
25%     8.000000
50%    10.000000
75%    10.000000
max    14.000000

In [10]:
rare_chest_levels.describe()

               0
count  11.000000
mean    8.363636
std     2.838053
min     1.000000
25%     8.000000
50%    10.000000
75%    10.000000
max    11.000000